// general body styling

// body {
//     height: 100vh;
//     background-image: linear-gradient(skyblue, white, 80%, sandybrown, green);
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     background-attachment: fixed;
// }

body {
    font-family: "Montserrat";
    // navbar & title section
    section#title {
        background-color: #ff4c68;
        color: white;

        .container-fluid {
            padding: 3% 15%;

            // navbar section
            .navbar {
                padding: 0 0 4.5rem;
                // background-color: purple;

                .navbar-brand {
                    font-family: "Ubuntu";
                    font-size: 2.5rem;
                    font-weight: bold;
                }

                .navbarSupportedContent {
                    .navbar-nav {
                        .nav-item {
                            padding: 0 18px;

                            .nav-link {
                                font-size: 1.2rem;
                                font-family: "Montserrat-Light";         
                            }
                        }
                    }
                }

            }


            // title section
            div.row {
                div.col-lg-6 {
                    h1 {
                        font-family: "Montserrat-Black", sans-serif;
                        font-size: 3.5rem;
                        line-height: 1.3;
                    }

                    .download_button {
                        margin: 5% 3% 5% 0;
                    }
                } 
                // title image
                div.col-lg-6>.title-image {
                    transform: rotate(25deg);
                    width: 60%;
                }
            }
        }
    }


    // features section


    // testimonial section

    // press section

    // pricing section

    // call to action section

    // footer section
}
